.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.meme-generator img {
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}

.meme-generator .btn {
  padding: 0.5rem 1.25rem;
  border: none;
  border-left: 0.25rem solid #222;
  border-right: 0.25rem solid #222;
  margin: 1.5rem 0;
  font-size: 1.25rem;
  color: #f64d4d;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
}

.meme-generator .btn:hover {
  padding: 0.5rem 2.25rem;
  border-left: 0.5rem solid #222;
  border-right: 0.5rem solid #222;
  letter-spacing: 0.2rem;
}

.meme-generator .meme-author {
  margin: 0.5rem;
}
